@model IEnumerable<ModelCategory>

<div>
    <select class="custom-select">
        <option selected>All categories</option>
        @foreach (var category in Model)
        {
            <option value="@category.Name">@category.Name</option>
        }
    </select>
</div>