@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<Model3D>

<div class="container">

    <div class="row row-gap-4">
        <!-- allow only 16/9 images -->
        @foreach (var model3d in Model)
        {
            <div class="col-12 col-md-6 col-xl-3">
                <div class="card">
                    <a asp-controller="Model3D" asp-action="Details" asp-route-id="@model3d.Model3DID" class="text-decoration-none">
                        <img src="@model3d.ImageSource" class="card-img-top" alt="...">
                    </a>
                    <div class="card-footer">
                        <div>
                            <h5>
                                @model3d.Title
                            </h5>
                        </div>

                        <div class="d-flex">
                            <div class="card-footer-left">
                                <a class="card-profile" asp-controller="Profile" asp-action="Details" asp-route-id="@model3d.OwnerID">@@@model3d.Owner.UserName</a>
                            </div>
                            <div class="card-footer-right">
                                <div><i class="bi bi-eye"> </i>count</div>
                                @*<div><i class="bi bi-chat"> </i>count</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
